html, body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
.flex {
  display: flex;
}
.container {
  width: 960px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Main Banner and header */
.main-banner {
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  height: 30rem;
}
header {
  background-color: cadetblue;
  color: white;
  align-items: center;
  margin: 1rem 2rem;
  position: relative;
  top: 1rem;
}
.logo {
  flex-grow: 1;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
nav li {
  display: inline-block;
  padding: 1rem 1rem;
}
.mobile-only {
  display: none;
}
.headline {
  height: 15rem;
  justify-content: flex-end;
  align-items: flex-end;
}
.headline h1 {
  background-color: white;
  display: inline-block;
  margin-right: -2rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  text-transform: uppercase;
}
/* Services Section */
#services {
  justify-content: center;
  padding: 3rem 0;
}
.feature {
  margin: 2rem;
  height: 8rem;
  width: 25%;
  text-align: center;
}
.feature-img {
  height: 5rem;
  margin-bottom: 1rem;
}
.feature-img img {
  max-width: 5rem;
  max-height: 5rem;
}
/* Info, Contact, and Footer */
#contact {
  justify-content: center;
}
.info {
  width: 35%;
  margin-left: 5%;
  margin-bottom: 5rem;
}
.info h4 {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  text-transform: uppercase;
  width: 10rem;
}
footer {
  align-items: center;
  background-color: azure;
  height: 9.5rem;
  justify-content: flex-start;
}
.copyright {
  align-items: center;
}
.copyright img {
  height: 1.5rem;
  margin-left: 4rem;
  margin-right: 1rem;
}
/* Media Query for Tablets */
@media only screen and (max-width:960px) {
  .main-banner {
    background-position: center;
    height: 22rem;
  }
  header {
    top: 0rem;
  }
  .container {
    width: 100%;
  }
  .headline {
    height: 7.5rem;
  }
  .headline h1 {
    font-size: 1.33rem;
    margin-right: 2rem;
    padding: 1rem 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .main-banner {
    background-position: 20%;
    height: 17rem;
  }
  .headline {
    height: 12.5rem;
  }
  .headline h1 {
    font-size: 1rem;
    margin: 0;
    text-align: center;
    width: 100%;
  }
}
/*Media Query for Phones*/
@media only screen and (max-width:650px) {
  body {
    font-size: .77rem;
    margin: 0;
  }
  .normal {
    display: none;
  }
  .mobile-only {
    display: inline-block;
  }
  .feature {
    margin: 1rem;
  }
  #services, #contact {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .info {
    margin: 0 0 4rem 0;
    width: 100%;
  }
  .info h4 {
    padding: 1rem 0;
    text-align: center;
    width: 100%;
  }
  .info p {
    padding: 0 .25rem 0 .25rem;
  }
  footer {
    justify-content: center;
  }
  .copyright img {
    margin: 0;
  }
}
